contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
llvmlite==0.43.0
matplotlib==3.9.1
numba==0.60.0
numpy==1.26.4
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6-sip==13.6.0
python-dateutil==2.9.0.post0
PyWavelets==1.6.0
qutip==5.0.3.post1
scipy==1.11.4
sigpy==0.1.26
six==1.16.0
tqdm==4.66.4
